/* стили для мобилки */
.form {
  width: 280px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
  padding: 30px 20px;
}

.text {
  /* font-family: Montserrat; */
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  text-align: left;
  margin-bottom: 20px;
}

.buttonGoogle {
  /* font-family: Montserrat; */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #000000;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.button-google::before {
  content: ' ';
  width: 18px;
  height: 18px;
  background-image: url(google-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.input {
  width: 240px;
  height: 56px;
  background-color: #ffffff;
  border: 1px solid #ced2d1;
  margin-bottom: 20px;
}

.input::placeholder {
  /* font-family: Montserrat; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #bbbbbb;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttonSignIn {
  width: 110px;
  background-color: #ff6b09;
  cursor: pointer;
  /* font-family: Montserrat; */
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.buttonSignUp {
  width: 110px;
  height: 60px;
  border: 1px solid #ced2d1;
  /* font-family: Montserrat; */
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

/* стили на десктоп */
/* .form {
    width: 505px;
}

.text {
font-size: 14px;
line-height: 17px;
}
 */
