.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal__active {
  @extend .modal;
  opacity: 1;
  pointer-events: all;
}
.modal_content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  width: fit-content;
  height: fit-content;
  transform: scale(0.5);
  transition: 0.4s all;
}
.modal_content__active {
  @extend .modal_content;
  transform: scale(1);
}
.modalInfo,
.modalBtn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: center;
}
.modalInfo {
  font-size: 20px;
  margin-bottom: 30px;
}
.btnWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modalBtn {
  width: 54px;
  height: 20px;
  background-color: #ff6b09;
  border: none;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #ffffff;
  @media (min-width: 768px) {
    width: 60px;
    height: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
