.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 264px;
  padding: 20px 0px 20px 20px;

  @media screen and (min-width: 768px) {
    width: 100%;
    padding: 0;
  }

  @media screen and (min-width: 1280px) {
    margin: 0 auto;
    width: 1280px;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 319px;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1280px) {
    width: 386px;
  }

  &__item {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    border-bottom: 1px solid rgb(226, 227, 229);

    @media screen and (min-width: 768px) {
      width: 70px;
      padding: 0;
      border-bottom: none;
    }

    &-link {
      display: block;
      margin: 0 auto;
      width: 70px;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: rgba(0, 0, 0, 1);
      border-bottom: 1px solid rgb(245, 246, 251);
    }
  }
}

.active-nav-list__item-link {
  display: block;
  margin: 0 auto;
  width: 70px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgb(255, 107, 9);

  @media screen and (min-width: 768px) {
    margin: 0;
    width: 70px;
  }
}

.is-visible {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
