.testsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0 20px;
  @media (min-width: 768px) {
    width: 652px;
    margin: 0 auto;
  }
  @media (min-width: 1280px) {
    width: 820px;
    margin: 0 auto;
  }
}
.testCard {
  width: 280px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
  padding: 40px 15px 60px;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    width: 652px;
  }
  @media (min-width: 1280px) {
    width: 820px;
  }
}
.questionNumber {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #555555;
  margin-bottom: 20px;
  letter-spacing: 0.02em;

  &_currentQuestion {
    color: #ff6b09;
  }
  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 17px;
  }
}
.question {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 28px;
  &::after {
    content: ' ';
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background: #00122f;
    width: 130px;
    height: 2px;
    opacity: 0.15;
  }
  @media (min-width: 768px) {
    font-size: 22px;
    line-height: 30px;
    &::after {
      width: 321.5px;
      height: 2px;
      opacity: 0.15;
    }
  }
}
.anwersItem {
  display: flex !important;
  justify-content: flex-start;
  align-items: center !important;
  margin-bottom: 10px !important;
  span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.02em;
    color: #000000;
    &:nth-child(odd) {
      margin-right: 10px;
    }
  }
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    &:nth-child(odd) {
      margin-right: 10px;
    }
  }
}
.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nextBtn_active,
.nextBtn_disabled {
  width: 55px;
  height: 34px;
  border: none;
  @media (min-width: 768px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    width: 210px;
    height: 34px;
  }
}

.nextBtn_active {
  background-color: #ff6b09;
  color: #ffffff;
}
.nextBtn_disabled {
  background: #ffffff;
  color: #000000;
}
