body {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 10px;
  background-color: #e5e5e5;
}
body,
html,
#root {
  min-height: 100%;
}

html {
  box-sizing: border-box;
  position: relative;
}

main {
  margin: 0 0 51px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 51px;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link,
a {
  display: block;
  text-decoration: none;
}

.list,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
