body {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 10px;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
