.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 40%;

  @media screen and (min-width: 768px) {
    left: 45%;
  }

  @media screen and (min-width: 1280px) {
    left: 50%;
  }

  @media screen and (min-width: 1920px) {
    top: 45%;
    left: 48%;
  }
}
