.section {
  box-sizing: border-box;

  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;

  max-width: 1280px;
}

.wrapper {
  // display: flex;
  // justify-content: center;
  // margin: 0 auto;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: center;
  color: black;
  border-bottom: 1px solid rgba(0, 18, 47, 0.15);
}

.list {
  margin: 0;
  padding: 0;
  margin: -10px;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listItem {
  margin: 10px;
}

@media (min-width: 768px) {
  .title {
    font-size: 22px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .title {
    width: 25%;
  }
}
